<div class="drop-down">
	<button class="drop-down__button">
		{{{active}}}
		<span class="drop-down__caret" > </span>
	</button>
	<ul class="drop-down__list" style="visibility:{{visibility}}">
		{{#items}}
			<li class="drop-down__item">
				{{{.}}}
			</li>
		{{/items}}
	</ul>
</div>