<div class="drop-down">
	<button class="drop-down__button">
		{{{category}}}
		<span class="drop-down__caret" > </span>
	</button>
	<ul class="drop-down__list" style="visibility:{{categoriesVisibility}}">
		{{#categories}}
			<li class="drop-down__item">
				{{{.}}}
			</li>
		{{/categories}}
	</ul>
</div>